---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Currently...",
    title: "FullStack Developer",
    company: "CasBen DevLabs",
    description:
      "At the moment developing my own projects as a solo dev at CasBen DevLabs, where I will be building FullStack applications.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
